#encoded,
#schema,
#url,
#input,
#output {
  display: block;
  padding: 1%;
  overflow: scroll;
}
#send{
  height: 30px;
  width: 100px;
}
th {
  text-align: center;
  font-size: large;
  border: gray;
  border-width: 10px;
  padding: 15px;
  background: #375eab;
}
#encoded {
  background: #fffdde;
  height: 40px;
  height: 5vh;
}

#input,
#output {
  height: 800px;
  white-space: pre;
  height: 80vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  /* width: 100%; */
  font: 14px/1.5em "Consolas", "Menlo", "Monaco", "Courier New", monospace;
  outline: none;
  border: none;
  resize: vertical;
  tab-size: 4;
}

#schema {
  background: #f6ffe9;
  height: 40px;
  height: 4vh;
  white-space: pre;
}

#url {
  background: #fce9ff;
  height:4vh
}

#input {
  background: #ecf2f5;
  border-right: 2px solid #aaa;
}

#output {
  background: #e0ebf5;
}
